# Ignore all .log files
*.log

# Ignore the node_modules directory
./node_modules/

# Ignore all files in any directory named temp
temp/

# Ignore specific files
config.json

# Ignore all .env files
*.env

# Ignore all files in the build directory
build/